/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar {
    position: absolute;
    width: 100%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    color: white;
    font-size: 22px;
    letter-spacing: 3px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
}

/* HERO IMAGE SECTION */
.hero {
    height: 100vh;
    background: url("hero.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 100px;
    position: relative;
}

/* Dark overlay */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

.hero-content {
    position: relative;
    color: white;
    max-width: 600px;
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* BUTTON */
.btn-primary {
    background: white;
    color: black;
    padding: 12px 28px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.3s;
}

.btn-primary:hover {
    background: black;
    color: white;
}
