* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #111;
    line-height: 1.6;
}

/* HERO */

.hero {
   .hero {
    height: 100vh;
    background: url("hero.png") no-repeat center center/cover;
}  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.hero-content {
    max-width: 700px;
    padding: 20px;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.hero h2 {
    font-weight: 300;
    margin: 15px 0;
    color: #9adfff;
}

.hero p {
    margin-bottom: 30px;
    opacity: 0.85;
}

/* BUTTON */

.btn {
    display: inline-block;
    padding: 12px 30px;
    background: linear-gradient(90deg, #6ae3ff, #c48cff);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s ease;
    border: none;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(150, 200, 255, 0.6);
}

/* SECTIONS */

.section {
    padding: 80px 20px;
    text-align: center;
    transition: all 0.6s ease;
}

.light {
    background: #ffffff;
}

.grey {
    background: #f4f6f9;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.section h2 {
    margin-bottom: 40px;
    font-size: 2rem;
}

/* CARDS */

.steps {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    width: 280px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* PRODUCT */

.product-card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    display: inline-block;
}

.price {
    font-size: 1.8rem;
    margin: 20px 0;
    color: #6a8cff;
}

/* FOOTER */

footer {
    background: #0b1c2d;
    color: white;
    text-align: center;
    padding: 30px;
}

/* RESPONSIVE */

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .steps {
        flex-direction: column;
        align-items: center;
    }
}
.hero::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: radial-gradient(circle, rgba(120,180,255,0.4), transparent 70%);
    top: -100px;
    right: -100px;
    filter: blur(80px);
}
